<div class="footer">
    <div class="footer-top">
        <div class="container">
            <a href="#" class="theme"><i> </i> “ E-commerce psd theme available ”</a>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-at">
                <div class="col-md-6 footer-grid">
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>
