<div class="about-us">
    <div class="container">
        <h2 class="text-center">Wat doen wij</h2>
        <div class="col-xs-12">
            <p>Wij verzorgen de communicatie tussen oud en jong. Via de
                website, kleine horecazaken en persoonlijke contacten zorgen wij ervoor dat eenzame
                ouderen met een passie voor bakken dit kunnen delen met een generatie die van eerlijke
                en unieke producten houdt. Dit is waar het om draait bij Ouwe Taart; het dichter bij
                elkaar brengen van mensen door middel van kleinschalige waardecreatie.</p>
            </div>
        </div>
    </div>
</div>
