<div class="banner">
    <div class="logo">
        <a href="/"><%= image_tag "ouwe_taart_logo.png", class: "logo taart_logo" %></a>
    </div>
    <div class="container banner-content">
        <h1>Ouwe Taart</h1>
        <p><i>De taart van oma is iets magisch.</i></br>
            Herbeleef bij Ouwe Taart de ambachtelijke smaak van oma's
            appeltaart.</p>

            <a href="/bestellen" class="cta-btn">Bestellen</a>
            <a href="#team" class="scroll down"><%= image_tag "arr.png" %></a>
        </div>
    </div>
</div>
