<div class="banner">
    <div class="logo">
        <a href="/"><%= image_tag "ouwe_taart_logo.png", class: "logo taart_logo" %></a>
    </div>
    <div class="container">
        <h1>Ouwe Taart</h1>
        <p><i>De taart van oma is iets magisch.</i></br>
            Herbeleef de ambachtelijke smaak van oma's
            taart met behulp van Ouwe Taart.</p>
            <a href="#team" class="scroll down"><%= image_tag "arr" %></a>
        </div>
    </div>
</div>
