<div class="contact">
<h2>CONTACT</h2>
    <div class="contact-grids">
        <div class="contact-map">
            <iframe  src="https://www.google.com/maps/embed/v1/place?q=Rijnstraat%20151%2C%20Amsterdam%2C%20Netherlands&key=AIzaSyBq4Lq4nzydUmRhW5-d34BnzV6P5ZYh4Mc" allowfullscreen></iframe>
        </div>
        <div class="top-contact">
            <div class="col-md-3">
                <h3>Ouwe Taart</h3>
                <p>Rijnstraat 151-III,</p>
                <p>1079 HC, Amsterdam,</p>
                <p>Nederland</p>
                <p>Telefoon:(+31639426610) </p>
                <p>Email: <a href="mailto:info.ouwetaart@gmail.com">info.ouwetaart@gmail.com</a></p>
                    <!-- <p>Follow on: <a href="#">Facebook</a>, <a
                    href="#">Twitter</a></p>-->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
