<div class="order-page">
  <div class="content">
    <div class="container">
      <div class="row">
      <div class="col-12 col-sm-4 offset-sm-4 order-form">
        <h2>Bestellen</h2>
        <p>
          Op het moment zijn wij druk bezig een online bestelproces te realiseren.
          Tot die tijd kunt u bestellen door te mailen naar <u>info.ouwetaart@gmail.com</u>
       </p>
       </div>
     </div>
       <div class="padded"></div>
   </div>
 </div>
</div>
