.partner-logo img {
  display: block;
  margin: auto;
  padding-top: 20px;
  height: 160px;
  max-width: 75%;
}

.partners h3 {
  font-size: 2.2em;
  color: #333;
  text-transform: uppercase;
  padding: 2em;
  font-weight: 600;
}
